// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-color-primary: #393E41;    
  --ion-color-secondary: #03A9F4;  
  --ion-color-dark: #212121;  
  --ion-color-light: #ffffff;
  
  --ion-text-color:           #393E41;
  --ion-link-color:            #393E41;
  --ion-background-color:      #CBD2E0;
  --ion-subdued-text-color:         #666;
  
  --ion-font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif ;
  --ion-font-size-base:             1.4rem ; // 1.4rem == 14px
  --ion-font-size-large:            2.0rem ; 
  --ion-font-size-small:            1.2rem ; 

  --ion-content-padding:            16px ;
  --ion-content-margin:             16px ;
  
  --ion-toolbar-background:         #F0F0F8 ;

  --ion-toolbar-border-color:       #b2b2b2 ;
  --ion-toolbar-text-color:         #393E41 ;
  --ion-toolbar-active-color:       #393E41 ;
  --ion-toolbar-inactive-color:     #8c8c8c ;
  
  --ion-tabs-background:            #F0F0F8 ;
  --ion-tabs-border-color:          #b2b2b2 ;
  --ion-tabs-tab-color-inactive:    #8c8c8c ;
  --ion-tabs-tab-color-active:      #393E41 ;
  
  --ion-list-text-color:            #393E41 ;
  --ion-list-background-color:      #F0F0F8 ;
  --ion-list-border-color:          #CBD2E0 ;
  
  --ion-text-input-highlight-color-valid:#CBD2E0 ;
  --ion-text-input-highlight-color-invalid:#CBD2E0;

  --ion-refresher-icon-color:      #393E41;
  --ion-refresher-border-color:    #CBD2E0;
 
  --ion-split-pane-side-max-width: 100px;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
  
  --ion-list-ios-border-color:      #CBD2E0;
  --ion-card-ios-header-color:      #393E41;
  --ion-card-ios-title-text-color:  #393E41;
  --ion-item-ios-paragraph-text-color:#393E41;
  --ion-spinner-ios-ios-color:      #393E41; 

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

  --ion-list-md-border-color:      #CBD2E0;
  --ion-card-md-header-color:      #393E41; 
  --ion-card-md-title-text-color:  #393E41; 
  --ion-item-md-paragraph-text-color:#393E41;

  --ion-spinner-md-circles-color:  #393E41;
  --ion-spinner-md-ios-color:#393E41;
  --ion-spinner-md-crescent-color:#393E41;

  --ion-label-md-text-color:       #393E41;

}
